# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/

# Archivos de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Cachés y logs
*.log
*.sqlite3

# Docker
*.pid
*.tar

# bash 
run_detached_test.sh
run_detached_train_test.sh
slurm_run_detached_train_test.sh
